.ms-hero-image {
  background-image: url('../img/dg/class1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100%;
  color: white;
}

.ms-card-background {
  /* background-image: url('../img/bg/63.jpg'); */
  /* right side background image */
  /* background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100%; */
  background: linear-gradient(135deg, #4C808A 0%, #3B4167 100%);
}

.ms-card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.ms-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.ms-card-icon i {
  color: #ff5c5c;
  /* Customize as needed */
}

.ms-card-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.ms-card-count {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-family: 'Tribeca';

}

.container-fluid {
  background-color: #ffffff;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.ms-btn-view-more {
    background-color: #4C808A;
    color: #fff;
    border-radius: 3px;
    border: 4px solid;
    /* Add this for a smooth transition */
    transition: transform 0.3s ease;
    /* Increase the padding to make the button larger */
    padding: 15px 30px;
    /* Increase the font size to make the text larger */
    font-size: 18px;
  }

  /* Add this new rule to increase the size on hover */
  .ms-btn-view-more:hover {
    transform: scale(1.2);
    color: white;
    background-color:#000000;
    border-color:white;
    text-decoration-color: #4C808A;
  }

  .dg{
    background: linear-gradient(135deg, #4C808A 0%, #3B4167 100%);
  }
