.ms-pro-loader {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  display: none;
  background: url(../images/common/pro-loader.html) no-repeat scroll 50% 50%;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 75px;
}

.pro-loading .ms-pro-loader {
  opacity: 1;
  display: block;
}